#general:
*.swp
*.o
*.so
*.a
*.dylib

# Build
Build/
Build/*
build*/
build/*
cbuild*/
Install/
Install/*
install/
install/*

#from Eclipse
.project
.cproject

#from cmake
CMakeCache.txt
CMakeFiles/
*build/
cbuild*/
ebuild/
cmake_install.cmake
install_manifest.txt

# from emacs
*~
